.CategorySong {
    box-sizing: border-box;
    background:  linear-gradient(to top, rgba(54, 0, 141, 0.74), rgba(109, 3, 158, 0.568));
    box-shadow: 0px 0px 5px rgb(37, 0, 97);
    border-radius: 20px;
    overflow: hidden;
    margin-right: 20px;
    display: inline-block;
    color: white;perspective: 1000px;
    border: 5px solid white;
    height: 200px;
    width: 200px;
}

.CategorySong p {
    color: white;
    font-family: 'Poppins';
}

.CategorySong .song-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.CategorySong:hover .song-inner {
    transform: rotateY(180deg);
}

.CategorySong .song-inner .song-front {
    align-items: center;
    backface-visibility: hidden;
    position: absolute;
}

.CategorySong .song-inner .song-front img {
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 20px;
}

.CategorySong .song-inner .song-back {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    align-items: center;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    position: absolute;
    background:  linear-gradient(to top, rgba(54, 0, 141, 0.74), rgba(109, 3, 158, 0.568)) ;    
}

.CategorySong .song-inner .song-back p {
    font-weight: 700;
}

.CategorySong .song-inner .song-back p:last-child {
    margin-top: 10px;
    font-weight: 400;
    font-style: italic;
    font-size: .8rem;
}

@media only screen and (max-width: 1490px) {
    .CategorySong {
        width: 180px;
        height: 180px;;
    }
    
    .CategorySong .song-inner .song-front img {
        width: 180px;
        height: 180px;
    }
}


@media only screen and (max-width: 1390px) {
    .CategorySong {
        width: 140px;
        height: 140px;;
    }
    
    .CategorySong .song-inner .song-front img {
        width: 140px;
        height: 140px;
    }
}

@media only screen and (max-width: 1190px) {
    .CategorySong {
        width: 135px;
        height: 135px;;
    }
    
    .CategorySong .song-inner .song-front img {
        width: 135px;
        height: 135px;
    }
}