.main-screen {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.MainScreen {
    position: relative;
    z-index: 1;
    background-color: rgb(52, 2, 117);
    display: flex;
    overflow: hidden;
    flex-grow: 2;
}

.MainScreen header {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to top, rgba(65, 1, 117, 0.904), rgb(26, 1, 56));
    width: 320px;
    height: 100%;
    padding: 20px 10px;
}

.MainScreen header p {
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 1.9rem;
    color: white;
}

.MainScreen header p span {
    color: rgb(114, 38, 255);
}

.MainScreen header nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 40px 0;
}

.MainScreen header nav .button {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: flex;
    font-size: 1.2rem;
    padding: 15px 10px;
    width: 100%;
    transition: .1s ease-in;
}

.MainScreen header nav p {
    color: rgb(255, 255, 255);
    font-size: .9rem;
    font-weight: normal;
    cursor: pointer;
}

.MainScreen header nav svg {
    margin-right: 15px;
}

.MainScreen header nav .button:hover {
    /* background-color: rgb(38, 0, 88);     */
    border-left: 8px solid rgb(255, 255, 255);
}

.MainScreen > main {
    box-sizing: border-box;
    width: 90%;
    background-image: url('../EntryScreen/bg_entry.jpg');
    background-size: cover;
}

.MainScreen > main::before {
    z-index: 1;
    content: '';
    background: linear-gradient(to top, rgba(65, 1, 117, 0.904), rgb(26, 1, 56)) ;
    position: absolute;
    width: 100%;
    height: 100%;
}

.main-screen {
    background: linear-gradient(to top, rgba(65, 1, 117, 0.904), rgb(26, 1, 56)) ;
}