.PlaylistSongSearch {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 5px solid rgb(252, 252, 252);
    box-shadow: 0px 0px 10px rgb(31, 31, 31);
    border-radius: 20px;
    overflow: hidden;
    background: linear-gradient(to top, rgb(83, 0, 109), rgba(12, 5, 44, 0.822));
    background-size: cover;
}

.PlaylistSongSearch > input {
    box-sizing: border-box;
    width: 95%;
    height: 60px;
    border: none;
    font-size: 1.3rem;
    font-family: 'Poppins';
    border-bottom: 1px solid rgb(243, 243, 243);
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 700;
}

.PlaylistSongSearch > input::placeholder {
    color: white;
}

.PlaylistSongSearch > .search-list {
    height: 400px;
    width: 100%;
    background-size: cover;
    overflow-y: scroll;
}