.CategoryList {
    margin-top: 100px;
    margin-right: 0 !important;
    font-family: 'Poppins';
    width: 100%;
}

.CategoryList .category-name h2 {
    font-size: 3.3rem;
    color: white;
    margin: 30px auto;
}

.CategoryList .category-name {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.CategoryList .category-songs-container .category-songs-list {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 1325px) {
    .CategoryList .category-name h2{
        font-size: 3rem;
    }
}


@media only screen and (max-width: 1210px) {
    .CategoryList .category-name h2{
        font-size: 2.6rem;
    }
}