.CreatePlaylistPage {
    position: relative;
    z-index: 2;
    padding-top: 60px;
    padding-left: 20px;
    width: 100%;
}

.CreatePlaylistPage .add-playlist {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 100px;
}

.CreatePlaylistPage .add-playlist button {
    padding: 10px 20px;
    border-radius: 20px;
    background-color: rgb(86, 2, 170);
    border: none;
    font-family: 'Poppins';
    color: white;
}

.CreatePlaylistPage h2 {
    color: white;
    font-size: 3rem;
    font-family: 'Poppins';
    margin-bottom: 30px;
}

.CreatePlaylistPage .playlist-creator {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
    width: 85%;
    margin: 0 auto;
    height: 460px;
}